// Reusable sections go here. Include states ie. '.is-active, .is-hidden'

// -------------------------
// Content Panels
// -------------------------

.panel ~ .panel {
  margin-top: 4em;
}
.panel {
  &.panel-text {
    .main-text-container {
      @include span-columns(7);

      @include media($mobile) {
        @include span-columns(4);
      }
    }

    .blockquote { // can only be inside a text panel
      @include span-columns(5);
      @include pad(0 default);
      @include omega();
      @include font-size(22, 31);
      background-image: $blockquote-bkg-img;
      background-position: center left;
      background-repeat: repeat-y;
      padding-left: 30px;
      margin: 0 0 1em 2em;
      font-style: italic;
      float: right;

      @include media($mobile) {
        @include span-columns(4);
        margin: 1em 0 4em;
      }

      q {
        @include font-size(12, 20);
        font-weight: bold;
        display: block;
        font-style: normal;
        margin-top: 1em;
      }
    }

    .round-image { // can only be inside a text panel
      @include span-columns(5);
      @include pad(0 default);
      @include omega();
      float: right;
      margin-left: 1em;

      @include media($mobile) {
        @include span-columns(4);
        margin-left: 0;
      }

      .round-image-container {
        border: 4px solid #FFFFFF;
        box-shadow: $shadow-inset-dk;
        border-radius: 50%;
        position: relative;
        padding-bottom: 82%;
        padding-top: 14%;
        height: 0;
        overflow: hidden;
        z-index: 0;
        margin-bottom: 1em;

        span {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 0;
          background-size: cover;
          background-position: center;
        }
      }
    }
  }

  &.panel-video {
    .video-container {
      position: relative;
      padding-bottom: 56.25%; /* 16:9 */
      padding-top: 25px;
      height: 0;
      z-index: 0;

      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
      }
    }
  }

  &.panel-slideshow,
  &.panel-large-image // a single image and a slideshow will we treated similarly
  {
    position: relative;

    figure,
    .r-slides
    {
      img {
        width: 100%;
        display: block;
      }

      figcaption,
      p.r-caption
      {
        border-bottom: 10px solid $color-accent-1;
        padding: 10px 30px;
        background: $color-accent-1lt;
        display: block;
      }
    }

    .r-caption {
      position: absolute;
    }
  }

  &.panel-slideshow {
    margin-bottom: 6em;
  }

  &.panel-accordion { // for hiding data
    dt {
      background: #FFF;
      border-color: $color-accent-2;
      border-style: solid;
      border-width: 1px;
      border-radius: 3px;
      width: 100%;
      padding: 20px 50px 20px 30px;
      display: block;
      clear: both;
      font-weight: bold;
      position: relative;
      margin-bottom: 2em;
      cursor: pointer;

      &:after {
        @include icon(fontawesome, "\f054");
        position: absolute;
        right: 25px;
        top: 20px;
      }

      &.open {
        border-width: 1px 1px 0 1px;
        border-radius: 3px 3px 0 0;
        margin-bottom: 0;

        &:after {
          @include icon(fontawesome, "\f078");
        }
      }
    }

    dd {
      @extend dt;
      background-color: $color-grey-lt;
      font-weight: normal;
      border-width: 1px !important;
      border-top-color: #d5d5d5;
      margin-bottom: 2em !important;
      margin-left: 0;
      border-radius: 0 0 3px 3px !important;
      display: none;
      cursor: inherit;

      &:after {
        content: '';
      }

      &.open {
        display: block;

        &:after {
          content: '';
        }
      }
    }
  }
}

.headline {
  color: $header-font-color;

  h1 {
    margin-bottom: 0;
  }
}

.subtext {
  font-weight: bold;

  p {
    margin-top: 0;
  }
}